<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{name}}</title>

</head>
<body>
<h1>{{name}}</h1>
<p>Welcome!</p>
<div>

    <span>Browse Topics</span>
    <ol id='topics'>
    {{#topics}}
            <li>{{.}}</li>
    {{/topics}}
    </ol>
</div>

</body>
</html>

